@model IEnumerable<ASI.Basecode.Services.ServiceModels.BookingViewModel>

@{
    ViewData["Title"] = "View Booking";

    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
   
<link href="~/css/dashboards.css" rel="stylesheet" />

<div class="list-container">
    <link href="~/css/dashboards.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="header d-flex align-items-center">
        <h1 class="title">Booking List</h1>
        <div class="controls">
            <div class="search-bar">
                <input type="text" placeholder="Search..." />
                <button class="search-button">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <table class="table" style="background-color: #F3E5AB; border-radius: 10px; overflow: hidden;">
        <thead style="background-color: #E2CD79;">
            <tr>
                <th>Room Name</th>
                <th>Start Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Purpose</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr style="background-color: #F3E5AB;">
                        <td>@Html.DisplayFor(modelItem => item.RoomName)</td>
                        <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
                        <td>@item.StartTime.Hours.ToString("D2"):@item.StartTime.Minutes.ToString("D2")</td>
                        <td>@item.EndTime.Hours.ToString("D2"):@item.EndTime.Minutes.ToString("D2")</td>
                        <td>@Html.DisplayFor(modelItem => item.Purpose)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        
                    </tr>

                }
            }
            else
            {
                <tr style="background-color: #F3E5AB;">
                    <td colspan="6" class="text-center">No Booking found.</td>
                </tr>
            }
        </tbody>
        
        
    </table>
    <div class="pagination">
        @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="BookingAdmin" asp-action="ViewBooking" asp-route-pg="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="BookingAdmin" asp-action="ViewBooking" asp-route-pg="@(pager.CurrentPage - 1)">Previouse</a>
                    </li>
                }
                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="BookingAdmin" asp-action="ViewBooking" asp-route-pg="@pge">@pge</a>
                    </li>
                }
                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-Item">
                        <a class="page-link" asp-controller="BookingAdmin" asp-action="ViewBooking" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="BookingAdmin" asp-action="ViewBooking" asp-route-pg="@(pager.TotalPages)">Last</a>
                    </li>
                }
            </ul>
        }
    <div/>
</div>
